{% extends 'base.html' %}

{% block head %}
	{{ super() }}
	<script>
		$(function () {
			var table = $('#search-results-table').DataTable( {
				'oLanguage': {
					'sSearch': 'Filter:'
				},
				'ordering': false
			});
			table.columns().every(function () {
				var that = this;
				$('input', this.footer()).on('keyup change clear', function() {
					if (that.search() !== this.value) {
						that.search( this.value ).draw();
					}
				});
			});
		});
	</script>
{% endblock %}

{% block title %}Similar Movies{% endblock %}

{% block content %}
	<h1>Movies Similar to <a href="/movie/{{movie_id}}">{{ title }}</a></h1>
	<table class="display" id="search-results-table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Overview</th>
				<th>Genres</th>
				<th>Release Date</th>
			</tr>
		</thead>
		<tbody>
			{% for movie in movies %}
				<tr>
					<td><a href="/movie/{{movie.id}}">{{movie.title}}</a></td>
					<td>{{movie.overview}}</td>
					<td>{{movie.genres}}</td>
					<td>{{movie.release_date}}</td>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th><input type="text" placeholder="Search Titles"></th>
				<th><input type="text" placeholder="Search Overviews"></th>
				<th><input type="text" placeholder="Search Genres"></th>
				<th></th>
			</tr>
		</tfoot>
	</table>
{% endblock %}